@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --foreground: #000;
    --columbiaYellow: #fecb47;

    /* code syntax highlight - Modern GitHub-like theme */
    --sh-class: #6f42c1;
    /* Purple for classes */
    --sh-identifier: #034e43;
    /* Dark gray for identifiers */
    --sh-sign: #0f1924;
    /* Dark gray for operators */
    --sh-property: #2c8cc0;
    /* Blue for properties */
    --sh-entity: #0a9f2d;
    /* Green for entities */
    --sh-jsxliterals: #0262cf;
    /* Dark blue for JSX literals */
    --sh-string: #d14829;
    /* Dark blue for strings */
    --sh-keyword: #ff0019;
    /* Red for keywords */
    --sh-comment: #6a737d;
    /* Gray for comments */
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  a {
    @apply underline-offset-4 hover:text-yellow-500 hover:underline;
  }

  pre,
  code {
    font-family: 'Monaco', 'Menlo', 'Courier New', Courier, monospace;
  }
}

@layer utilities {
  .textShadow {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }

  .imageMask_SP {
    mask-image: linear-gradient(180deg, #fff 0 52%, transparent 95%);
  }

  .imageMask_PC {
    mask-image: linear-gradient(180deg, #fff 0 70%, transparent 100%);
  }

  .navbarHeight {
    height: calc(100lvh - 100svh);
  }

  .title {
    text-wrap: balance;
  }


  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-5000%);
    }
  }

  .animate-marquee {
    animation: marquee 50s linear infinite;
  }

  .animate-marquee_SP {
    animation: marquee 10s linear infinite;
  }
}


.prose {
  pre {
    background-color: #f4f4f4;
    @apply text-lg;
  }

  pre code {
    @apply p-0 block leading-6;
    border: initial;

    .sh__line {
      @apply inline-block leading-6;
    }

    span {
      @apply font-medium;
    }
  }

  img {
    /* Don't apply styles to next/image */
    @apply m-0;
  }

  h2,
  h3,
  h4 {
    @apply text-5xl font-medium;
  }

  strong {
    @apply font-medium;
  }

  .anchor {
    @apply absolute no-underline;
    margin-left: -1em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;

    &:after {
      content: "#";
    }
  }
}