@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --foreground: #000;
    /* --columbiaYellow: #fecb47; */
    --columbiaYellow: #f0a044;

    --sh-class: #6f42c1;
    --sh-identifier: #034e43;
    --sh-sign: #0f1924;
    --sh-property: #2c8cc0;
    --sh-entity: #0a9f2d;
    --sh-jsxliterals: #0262cf;
    --sh-string: #d14829;
    --sh-keyword: #ff0019;
    --sh-comment: #6a737d;
  }

  html,
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  a {
    @apply underline-offset-4 hover:text-columbiaYellow hover:underline;
  }

  pre,
  code {
    font-family: "Monaco", "Menlo", "Courier New", Courier, monospace;
  }

  ::-moz-selection {
    background: var(--columbiaYellow);
  }
  ::selection {
    background: var(--columbiaYellow);
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply macos-shadow h-4 w-4 appearance-none rounded-full bg-columbiaYellow;
  }
}

@layer utilities {
  .textShadow {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }

  .textShadow-light {
    text-shadow:
      0px 0px 60px rgba(256, 256, 256, 0.6),
      0px 0px 20px rgba(256, 256, 256, 0.4);
  }

  .imageMask_SP {
    mask-image: linear-gradient(180deg, #fff 0 75%, transparent 97%);
  }

  .imageMask_SP-2 {
    mask-image: linear-gradient(180deg, #fff 0 75%, transparent 90%);
  }

  .imageMask_PC {
    mask-image: linear-gradient(180deg, #fff 0 70%, transparent 100%);
  }

  .navbarHeight {
    height: calc(100lvh - 100svh);
  }

  .title {
    text-wrap: balance;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .vert-rl {
    writing-mode: vertical-rl;
  }

  .animate-marquee {
    animation: marquee 15s linear infinite;
  }

  .macos-shadow {
    box-shadow:
      0px 10px 30px rgba(0, 0, 0, 0.2),
      0px 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.prose {
  max-width: none;

  img {
    @apply macos-shadow rounded-sm;
  }

  pre {
    background-color: #f4f4f4;
    @apply text-lg;
  }

  pre code {
    @apply block p-0 leading-5 md:leading-6;
    border: initial;

    .sh__line {
      @apply inline-block !text-base leading-5 md:leading-6;
    }

    span {
      @apply font-medium;
    }
  }

  img {
    /* Don't apply styles to next/image */
    @apply m-0;
  }

  h2,
  h3,
  h4 {
    @apply font-medium;
  }

  h2 {
    @apply text-3xl md:text-5xl;
  }
  h3 {
    @apply text-2xl md:text-4xl;
  }
  h4 {
    @apply text-xl md:text-3xl;
  }

  strong {
    @apply font-medium;
  }

  .anchor {
    @apply absolute no-underline;
    margin-left: -1em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;

    &:after {
      content: "#";
      @apply hidden md:block;
    }
  }
}
