* {
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
}

html,
body {
  @apply bg-background dark:bg-gray-900 min-h-full text-gray-700 dark:text-white box-border m-0 relative;
}
html {
  scroll-behavior: smooth;
}

@media (orientation: landscape) {
  ::-webkit-scrollbar {
    @apply w-3 bg-transparent bg-opacity-50;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-gray-300 border-2 border-solid border-background dark:border-gray-900;
  }
  ::-webkit-scrollbar-track {
    @apply rounded bg-transparent;
  }
}

::selection {
  @apply bg-primary text-white;
}

#__next {
  @apply flex flex-col min-h-screen h-full overflow-x-hidden;
}
