@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #eff1f5;
  --highlight-color: #ff0080;
}

.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-200 bg-gray-700 rounded-t;
}

@media (orientation: landscape) {
  ::-webkit-scrollbar {
    @apply w-3 bg-gray-300 bg-opacity-50;
  }
}

@media (orientation: landscape) {
  ::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-gray-600 border-2 border-solid border-gray-100;
  }
}

@media (orientation: landscape) {
  ::-webkit-scrollbar-track {
    @apply rounded bg-transparent;
  }
}

::selection {
  @apply bg-tertiary text-white;
}

html,
body {
  @apply bg-background h-full text-black antialiased;
}

html {
  scroll-behavior: smooth;
}

#__next {
  @apply flex flex-col h-full overflow-x-hidden;
}

.absolute-center {
  @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.logo {
  @apply text-4xl font-fancy font-bold cursor-pointer bg-gradient-to-r from-logo-start to-logo-end bg-clip-text text-transparent;
}

.wave-seperator-crop {
  @apply scale-x-100 sm:scale-x-125 md:scale-x-100;
}

.max-width-wrapper {
  @apply max-w-3xl xl:max-w-5xl px-4 mx-auto sm:px-6 xl:px-0;
}

/* .home-page-cards {
  @apply bg-gray-300 bg-opacity-50 rounded p-10 w-fit-content;
} */

.bg-gg {
  background: linear-gradient(180deg, transparent, white 50%),
    linear-gradient(to top right, #4338ca, #00dfd8);
}

.text-sideways {
  text-orientation: sideways;
}

.right-arrow {
  border: solid #c6c9d2;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(-45deg);
  margin: 0 10px 0 5px;
}

.wiggle {
  animation: 3s wiggle infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wiggle {
  /* reference: https://jarv.is/notes/css-waving-hand-emoji/ */
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(8deg);
  }
  20% {
    transform: rotate(-6deg);
  }
  30% {
    transform: rotate(12deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.social-icon > svg {
  @apply h-7 flex items-center justify-center;
}
.social-icon > svg > path {
  @apply fill-current text-gray-900;
}
.social-icon:hover > svg > path {
  fill: var(--highlight-color);
}
