@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply cursor-pointer hover:text-primary;
  }
  h1 {
    @apply text-5xl font-bold text-primary;
  }
  h2 {
    @apply text-2xl font-bold text-primary;
  }
}

@variants focus, hover {
  .secondaryGradient {
    @apply bg-gradient-to-r from-tertiary to-secondary bg-clip-text text-transparent;
  }
}

html,
body {
  @apply bg-background min-h-full text-gray-700 antialiased box-border m-0 relative;
}
html {
  scroll-behavior: smooth;
}

@media (orientation: landscape) {
  ::-webkit-scrollbar {
    @apply w-3 bg-transparent bg-opacity-50;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-gray-300 border-2 border-solid border-background;
  }
  ::-webkit-scrollbar-track {
    @apply rounded bg-transparent;
  }
}

::selection {
  @apply bg-primary text-white;
}

#__next {
  @apply flex flex-col min-h-screen h-full overflow-x-hidden;
}

.absolute-center {
  @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.text-sideways {
  text-orientation: sideways;
}

.wiggle {
  animation: 3s wiggle infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  cursor: pointer;
}
.wiggle:hover {
  animation: 1.2s wiggle infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
@keyframes wiggle {
  /* reference: https://jarv.is/notes/css-waving-hand-emoji/ */
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(8deg);
  }
  20% {
    transform: rotate(-6deg);
  }
  30% {
    transform: rotate(12deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.social-icon > svg {
  @apply h-7 flex items-center justify-center fill-current text-gray-900;
}
.social-icon:hover > svg {
  fill: var(--highlight-color);
}
